<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PhotonCloud.NameServer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Photon.Common.Authentication.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PhotonCloud.Authentication.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Photon.NameServer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>

    <Photon.NameServer.Settings>
      <setting name="MasterServerPortUdp" serializeAs="String">
        <value>{#PublicMasterServerPortUdp#}</value>
      </setting>
      <setting name="MasterServerPortTcp" serializeAs="String">
        <value>{#PublicMasterServerPortTcp#}</value>
      </setting>
      <setting name="MasterServerPortWebSocket" serializeAs="String">
        <value>{#PublicMasterServerPortWebSocket#}</value>
      </setting>
      <setting name="MasterServerPortHttp" serializeAs="String">
        <value>{#PublicMasterServerPortHttp#}</value>
      </setting>
      <setting name="MasterServerPortSecureHttp" serializeAs="String">
        <value>{#PublicMasterServerPortSecureHttp#}</value>
      </setting>
      <setting name="MasterServerHttpPath" serializeAs="String">
        <value>photon/m</value>
      </setting>
      <setting name="MasterServerPortSecureWebSocket" serializeAs="String">
        <value>{#PublicMasterServerPortSecureWebSocket#}</value>
      </setting>
      <setting name="NameServerConfig" serializeAs="String">
        <value>Nameserver.json</value>
      </setting>
    </Photon.NameServer.Settings>

    <PhotonCloud.NameServer.Settings>
      <setting name="CloudType" serializeAs="String">
          <value>Nameserver</value>
      </setting>
      <setting name="PrivateCloud" serializeAs="String">
          <value>{#PrivateCloud#}</value>
      </setting>
      <setting name="Region" serializeAs="String">
          <value>{#Region#}</value>
      </setting>
      <setting name="Cluster" serializeAs="String">
          <value>{#Cluster#}</value>
      </setting>
      <setting name="EncryptionQueueLimit" serializeAs="String">
          <value>{#EncryptionQueueLimit#}</value>
      </setting>
      <setting name="UseEncryptionQueue" serializeAs="String">
          <value>{#UseEncryptionQueue#}</value>
      </setting>
      <setting name="MonitoringApiEndpoint" serializeAs="String">
          <value>http://internal-health.photonengine.com/photon/h2/health/check?names={0}</value>
      </setting>
      <setting name="MonitoringCacheUpdateInterval" serializeAs="String">
          <value>60</value>
      </setting>
    </PhotonCloud.NameServer.Settings>

    <PhotonCloud.Authentication.Settings>
      <setting name="AccountServiceTimeout" serializeAs="String">
          <value>{#AccountServiceTimeout#}</value>
      </setting>
      <setting name="AccountServiceUrl" serializeAs="String">
          <value>{#AccountServiceUrl#}</value>
      </setting>
      <setting name="AuthCacheUpdateInterval" serializeAs="String">
          <value>300</value>
      </setting>
      <setting name="BlobServiceUrl" serializeAs="String">
          <value><![CDATA[{#BlobServiceUrl#}]]></value>
      </setting>
      <setting name="FallbackBlobServiceUrl" serializeAs="String">
          <value><![CDATA[{#FallbackBlobServiceUrl#}]]></value>
      </setting>
      <setting name="AccountServiceUsername" serializeAs="String">
          <value>{#AccountServiceUsername#}</value>
      </setting>
      <setting name="AccountServicePassword" serializeAs="String">
          <value>{#AccountServicePassword#}</value>
      </setting>
      <setting name="PlayerIoKeys" serializeAs="String">
          <value>{#PlayerIoKeys#}</value>
      </setting>
      <setting name="PlayerIoKeys2" serializeAs="String">
          <value>{#PlayerIoKeys2#}</value>
      </setting>
    </PhotonCloud.Authentication.Settings>
    <Photon.Common.Authentication.Settings>
      <setting name="AuthTokenKey" serializeAs="String">
          <value>{#AuthTokenKey#}</value>
      </setting>
      <setting name="HMACTokenKey" serializeAs="String">
          <value>{#HMACTokenKey#}</value>
      </setting>
      <setting name="AuthTokenExpirationS" serializeAs="String">
          <value>1800</value>
      </setting>

      <!-- Custom Authentication Queue Settings -->
      <setting name="MaxConcurrentRequests" serializeAs="String">
          <value>50</value>
      </setting>
      <setting name="MaxQueuedRequests" serializeAs="String">
          <value>5000</value>
      </setting>
      <setting name="MaxErrorRequests" serializeAs="String">
          <value>10</value>
      </setting>
      <setting name="MaxTimedOutRequests" serializeAs="String">
          <value>10</value>
      </setting>
      <setting name="HttpRequestTimeoutMS" serializeAs="String">
          <value>30000</value>
      </setting>
      <setting name="ReconnectIntervalS" serializeAs="String">
          <value>60</value>
      </setting>
      <setting name="QueueTimeoutS" serializeAs="String">
          <value>20</value>
      </setting>
      <setting name="MaxBackoffTimeInMiliseconds" serializeAs="String">
          <value>10000</value>
      </setting>
      <setting name="UseCustomAuthService" serializeAs="String">
          <value>false</value>
      </setting>
    </Photon.Common.Authentication.Settings>
  </applicationSettings>

  <appSettings>
    <!-- logging -->
    <add key="Stackify.ApiKey" value="{#StackifyApiKey#}" />
    <add key="Stackify.AppName" value="{#StackifyAppName#}"/>
    <!-- optional - will be inferred by Stackify if this is running on a monitored server -->
    <add key="Stackify.Environment" value="{#StackifyEnvironmentName#}"/>
	<add key="LogEntries.Token" value="" />
	<add key="ServicePointManager.SecurityProtocol" value="Tls|Tls11|Tls12|Tls13" />
  </appSettings>

  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>