<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PhotonCloud.NameServer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="PhotonCloud.Authentication.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="Photon.Common.Authentication.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<PhotonCloud.NameServer.Settings>
			<setting name="InternalServerPort" serializeAs="String">
				<value>4541</value>
			</setting>
			<setting name="MasterServerPortUdp" serializeAs="String">
				<value>5055</value>
			</setting>
			<setting name="MasterServerPortTcp" serializeAs="String">
				<value>4530</value>
			</setting>
			<setting name="MasterServerPortWebSocket" serializeAs="String">
				<value>9090</value>
			</setting>
			<setting name="MasterServerPortHttp" serializeAs="String">
				<value>6060</value>
			</setting>
			<setting name="NameServerConfig" serializeAs="String">
				<value>LoadTestNS.config</value>
			</setting>
			<setting name="MasterServerPortSecureWebSocket" serializeAs="String">
				<value>19090</value>
			</setting>
			<setting name="SecureWebSocketDomain" serializeAs="String">
				<value />
			</setting>
		</PhotonCloud.NameServer.Settings>

		<PhotonCloud.Authentication.Settings>
			<setting name="AuthCacheUpdateInterval" serializeAs="String">
				<value>300</value>
			</setting>
			<setting name="AccountServiceUrl" serializeAs="String">
				<value>https://dev-service.exitgames.com/api/application/{0}</value>
			</setting>
			<setting name="AccountServiceUsername" serializeAs="String">
				<value>ExitGamesPhoton</value>
			</setting>
			<setting name="AccountServicePassword" serializeAs="String">
				<value>hy7T2W47xz</value>
			</setting>
			<setting name="AccountServiceTimeout" serializeAs="String">
				<value>5000</value>
			</setting>
		</PhotonCloud.Authentication.Settings>
		
		<Photon.Common.Authentication.Settings>
			<setting name="AuthTokenKey" serializeAs="String">
				<value>76B2814E-2A50-4E29-838A-20411D335FC9</value>
			</setting>
			<setting name="HMACTokenKey" serializeAs="String">
				<value>DD6FD4DE-BF09-46A1-833E-ACDC22DD3FC7</value>
			</setting>
			<setting name="AuthTokenExpiration" serializeAs="String">
				<value>1800</value>
			</setting>

			<!-- Custom Authentication Queue Settings -->
			<setting name="MaxConcurrentRequests" serializeAs="String">
				<value>50</value>
			</setting>
			<setting name="MaxQueuedRequests" serializeAs="String">
				<value>5000</value>
			</setting>
			<setting name="MaxErrorRequests" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="MaxTimedOutRequests" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="HttpRequestTimeoutMS" serializeAs="String">
				<value>30000</value>
			</setting>
			<setting name="ReconnectIntervalS" serializeAs="String">
				<value>60</value>
			</setting>
			<setting name="QueueTimeoutS" serializeAs="String">
				<value>20</value>
			</setting>
			<setting name="MaxBackoffTimeInMiliseconds" serializeAs="String">
				<value>10000</value>
			</setting>
		</Photon.Common.Authentication.Settings>

	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
