<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
      <supportedRuntime version="v4.5" />
      <supportedRuntime version="v4.0" />
      <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="ServerAddress" value="127.0.0.1" />
    <!-- game settings -->
    <add key="NumClientsPerGame" value="3" />
    <add key="NumGames" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings> 
  <runtime> 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" /> 
          </dependentAssembly> 
      </assemblyBinding> 
  </runtime>
</configuration>