<?xml version="1.0" encoding="utf-8" ?>
<FeedbackControlSystem>
  <FeedbackControllers>
    <!-- CPU -->
    <add Name="CpuUsage" InitialInput="0" InitialLevel="Lowest">
      <FeedbackLevels>
        <add Level="Level0" Value="10"  ValueDown="0"/>
        <add Level="Level1" Value="20"  ValueDown="9"/>
        <add Level="Level2" Value="30"  ValueDown="19"/>
        <add Level="Level3" Value="40"  ValueDown="29"/>
        <add Level="Level4" Value="50"  ValueDown="39"/>
        <add Level="Level5" Value="60"  ValueDown="49"/>
        <add Level="Level6" Value="70"  ValueDown="58"/>
        <add Level="Level7" Value="80"  ValueDown="67"/>
        <add Level="Level8" Value="90"  ValueDown="77"/>
        <add Level="Level9" Value="110" ValueDown="77"/>
     </FeedbackLevels>
	</add>

    <!-- Bandwidth -->
	<!-- 10 / 30 / 40 / 80 / 100 MB -->
    <add Name="Bandwidth" InitialInput="0" InitialLevel="Lowest">
		<FeedbackLevels>        
			<add Level="Level0" Value="10485760"  ValueDown="0" />
		    <add Level="Level1" Value="20971520"  ValueDown="10480000" />
		    <add Level="Level2" Value="31457280"  ValueDown="20968000" />
			<add Level="Level3" Value="41943040"  ValueDown="31450000" />
			<add Level="Level4" Value="52428800"  ValueDown="41940000" />
			<add Level="Level5" Value="62914560"  ValueDown="52420000" />
			<add Level="Level6" Value="73400320"  ValueDown="62910000" />
			<add Level="Level7" Value="83886080"  ValueDown="73390000" />
			<add Level="Level8" Value="94371840"  ValueDown="83880000" />
			<add Level="Level9" Value="115343360" ValueDown="83880000" /><!-- Level1*11 -->
		</FeedbackLevels>
    </add>
  </FeedbackControllers>
</FeedbackControlSystem>
