<NameServerConfig>
	<Clouds>
		<!-- this config is for NUnit tests only. See /build/properties/_chat/NameServer for a (dummy) config with real-world examples. --> 
		
		<!-- NOTE: the default value should always be "127.0.0.1".  --> 						
		<Cloud Name="Dev" PrivateCloud="Public">
			<ServiceTypes>
				<ServiceType>Realtime</ServiceType>
				<ServiceType>Turnbased</ServiceType>				
			</ServiceTypes>
			<Regions> 
				<Region Name="SingleServer">
					<Nodes>
						<Node Id="CLOUD-LOCAL-01" IpAddress="127.0.0.1">
						</Node>
					</Nodes>
				</Region>
				<Region Name="ExplicitDefault">
					<Nodes Default="CLOUD-LOCAL-02">
						<Node Id="CLOUD-LOCAL-01" IpAddress="123.123.123.123">
						</Node>						
						<Node Id="CLOUD-LOCAL-02" IpAddress="127.0.0.1">
						</Node>
					</Nodes>
				</Region>
				<Region Name="ImplicitDefault">
					<Nodes>
						<Node Id="CLOUD-LOCAL-01" IpAddress="123.123.123.123">
							<Applications>
								<Application Id="ee33d755-6e53-4c1a-a4d1-44f6d817b71c" />
							</Applications>							
						</Node>						
						<Node Id="CLOUD-LOCAL-02" IpAddress="234.234.234.234" IsFailover="true">
						</Node>												
						<Node Id="CLOUD-LOCAL-02" IpAddress="127.0.0.1">
						</Node>
					</Nodes>
				</Region>
				<!-- matches the Name Server's "Region" - EU is used as default region if client does not submit a region -->
				<Region Name="EU">
					<Nodes>
						<Node Id="CLOUD-LOCAL-01" IpAddress="127.0.0.1">
						</Node>
					</Nodes>
				</Region>
			</Regions>
		</Cloud>
	</Clouds>			
</NameServerConfig>