<?xml version="1.0" encoding="utf-8" ?>

<LoadBalancer ReserveRatio="0.2" ValueUp="Highest">
    
	<LoadBalancerWeights>
		<add Level="Level0" Value="20" />
		<add Level="Level1" Value="17"/>
		<add Level="Level2" Value="15"/>
		<add Level="Level3" Value="13"/>
		<add Level="Level4" Value="11"/>
		<add Level="Level5" Value="9"/>
		<add Level="Level6" Value="7"/>
		<add Level="Level7" Value="5"/>
		<add Level="Level8" Value="3"/>
		<add Level="Level9" Value="0"/>
	</LoadBalancerWeights>
     
</LoadBalancer>
