<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PhotonCloud.Authentication.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Photon.Common.Authentication.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <PhotonCloud.Authentication.Settings>
      <!-- in milliseconds -->
      <setting name="AccountServiceTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="AccountServiceUrl" serializeAs="String">
        <value />
      </setting>
      <!-- in seconds -->
      <setting name="AuthCacheUpdateInterval">
        <value>300</value>
      </setting>
      <setting name="BlobServiceUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="AccountServiceUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="AccountServicePassword" serializeAs="String">
        <value />
      </setting>
    </PhotonCloud.Authentication.Settings>
    
    <Photon.Common.Authentication.Settings>
      <setting name="AuthTokenExpirationS" serializeAs="String">
        <value/>
      </setting>
      <setting name="AuthTokenKey" serializeAs="String">
        <value/>
      </setting>

      <!-- Custom Authentication Queue Settings -->
      <setting name="HttpRequestTimeoutMS" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="MaxBackoffTimeInMiliseconds" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MaxConcurrentRequests" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MaxErrorRequests" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxQueuedRequests" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="MaxTimedOutRequests" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="QueueTimeoutS" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ReconnectIntervalS" serializeAs="String">
        <value>60</value>
      </setting>
    </Photon.Common.Authentication.Settings>
  </applicationSettings>
</configuration>